@using Entity.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Yazan</th>
                                    <th>Başlık</th>
                                    <th>Durum</th>
                                    <th>Puan</th>
                                    <th>Tarih</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.UserName</td>
                                        <td>@item.Title</td>
                                        <td>@item.Status</td>
                                        <td>@item.Rating</td>
                                        <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                        <td><a href="/Admin/Comment/Delete/@item.Id" onclick="return confirm('Silmek istediğinize emin misiniz?')" class="btn btn-white btn-sm">Sil</a></td>
                                        <td><a href="" class="btn btn-primary btn-sm">Düzenle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>