@using Entity.Concrete
@model AddProfileImage
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">Profil Bilgileri</h3>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("EditProfile", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
                    <div class="form-group">
                        @Html.Label("Adınız")
                        @Html.TextBoxFor(x => x.Name, new { placeholder = "Adınız", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("E-Posta Adresiniz")
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "E-Posta Adresiniz", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Şifreniz")
                        @Html.PasswordFor(x => x.Password, new { placeholder = "Şifreniz", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Şifre Tekrar")
                        @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Şifrenizi Tekrar Giriniz", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Avatar</label>
                        <div class="input-group col-xs-12">
                            <input type="file" class="form-control file-upload-info" name="Image">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Hakkınızda")
                        @Html.TextAreaFor(x => x.About, 15, 5, new { placeholder = "Hakkınızda", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.About, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                }
            </div>
        </div>
    </div>
</div>