@using Entity.Concrete
@model List<Blog>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Son Bloglar</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th>Başlık</th>
                                <th>Kategori</th>
                                <th>Kayıt Tarihi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.Image" class="mr-2" alt="@item.Title">
                                    </td>
                                    <td>@item.Title</td>
                                    <td>
                                        <label class="badge badge-gradient-success">@item.Category.Name</label>
                                    </td>
                                    <td>@item.CreatedDate.ToString("dd MMMM yyyy")</td>
                                    <td><a href="/Blog/BlogDetails/@item.Id" target="_blank" class="btn-sm btn-dark">Detay</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>